  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
          <i class="fa fa-cloud"></i> Kanban to do list
        </a>
        <ul class="right">
          <% if current_user %>  
            <li><%= link_to 'Manage your account', edit_user_registration_path, method: :get, class: "waves-effect waves-light btn" %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn" %> </li> 
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path, method: :get, class: "waves-effect waves-light btn" %></li> 
          <% end %> 
        </ul>
      </div>
    </nav>
  </div>